@page "/"
@inject NavigationManager NavMgr
<div class="text-center" >
    <h1>Welcome to Pareto Finance Loan app</h1>


<button class="btn btn-primary" @onclick="StartProcess">Apply for a loan</button>

</div>
@*<SurveyPrompt Title="How is Blazor working for you?" />*@
@code {


    private void StartProcess()
    {
        NavMgr.NavigateTo("loanform");
    }
}